<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header>
    <a href="/exhibitions">
        <h1>Exhibitions</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/where">Where?</a></li>
            <li><a href="/about">Contact</a></li>
            <li><a href="/contact">About us</a></li>
        </ul>
    </nav>
</header>

</body>
</html>
