<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1>Available now</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>From</th>
        <th>End date</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exhibition : ${exhibitions}">
        <td th:text="${exhibition.name}"></td>
        <td th:text="${exhibition.startDate}"></td>
        <td th:text="${exhibition.endDate}"></td>
        <td th:text="${exhibition.description}"></td>
        <td th:text="${exhibition.ticketPrice}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
