<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<header th:replace="fragments/header"></header>

<div class="row">
    <div class="column">
        <h2 class="exh-title" th:text="${exhibition.name}"></h2>

        <p>Available from: <span th:text="${exhibition.getStartDate()}"></span></p>
        <p>To: <span th:text="${exhibition.getEndDate()}"></span></p>
        <p>Location: <span th:text="${exhibition.location.getAddress()}"></span></p>
        <p>Standard normal price: <span th:text="${exhibition.getTicketPrice()}"></span>zl</p>

        <div class="button-container">
            <a th:href="@{/exhibition/{exhibitionId}/artworks(exhibitionId=${exhibition.id})}" class="button">
                EXPLORE ARTWORKS
            </a>
            <a href="/reservation" class="button">
                MAKE A RESERVATION
            </a>
        </div>
    </div>

    <div class="column">
        <p class="description" th:text="${exhibition.getDescription()}"></p>
    </div>
</div>

</body>
</html>
