<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<header th:replace="~{fragments/header}"></header>

<div class="row">
    <div class="column">
        <h2 class="exh-title" th:text="${exhibition.name}"></h2>

        <p>Available from: <span th:text="${exhibition.getStartDate()}"></span></p>
        <p>To: <span th:text="${exhibition.getEndDate()}"></span></p>
        <p>Location: <span th:text="${exhibition.location.getAddress()}"></span></p>
        <p>Standard normal price: <span th:text="${exhibition.getTicketPrice()}"></span>zl</p>

        <div class="button-container">
            <a th:href="@{/exhibition/{id}(id=${exhibition.getId()})}" class="button">
                EXHIBITION DETAILS
            </a>
            <a th:href="@{/exhibition/{id}/reservation(id=${exhibition.getId()})}" class="button">
                MAKE A RESERVATION
            </a>
        </div>
    </div>

    <div class="column">
        <table class="artworks-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Creation Year</th>
                <th>Artists</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artwork : ${exhibition.getArtWorks()}">
                <td th:text="${artwork.getName()}"></td>
                <td th:text="${artwork.getCreationYear()}"></td>
                <td th:text="${artwork.getArtistsNames()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
