<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<header th:replace="fragments/header"></header>

<h2 class="available-h2">Available now</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>From</th>
        <th>End date</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exhibition : ${exhibitions}">
        <td th:text="${exhibition.name}">Underworld Journey</td>
        <td th:text="${exhibition.startDate}"></td>
        <td th:text="${exhibition.endDate}"></td>
        <td th:text="${exhibition.location.getAddress()}"></td>
        <td class="check-out">Check out!</td>
    </tr>
    </tbody>
</table>
</body>
</html>
