<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<header th:replace="fragments/header"></header>

<div class="row">
    <div class="column">
        <h2 class="exh-title">Underworld Journey</h2>

        <p>Available from: 01/06/2023</p>
        <p>To: 14/07/2023</p>
        <p>Location: Koszykowa 86, Warszawa</p>
        <p>Standard normal price: 10zl</p>

        <div class="button-container">
            <button >EXPLORE ARTWORKS</button>
            <button >MAKE A RESERVATION</button>
        </div>
    </div>

    <div class="column">
        <p class="description">Step into the mesmerizing realm of the "Underworld Journey" exhibition, where ancient myths and hidden wonders come to life. Embark on an extraordinary adventure that takes you through the depths of mythical realms, exploring the captivating mysteries of the underworld.
            Unveil the secrets of ancient civilizations as you encounter artifacts, artworks, and archaeological discoveries that shed light on their beliefs, rituals, and legends surrounding the underworld. Delve into the realms of Greek Hades, Egyptian Duat, Norse Hel, and other fascinating underworlds from various cultures.
            Immerse yourself in immersive displays, interactive installations, and multimedia presentations that bring these mystical realms to life. Marvel at the awe-inspiring recreations of mythical landscapes, encounter legendary creatures, and witness dramatic depictions of mythical journeys.
            Join renowned experts and archaeologists who will guide you on this immersive exploration, providing intriguing insights into the mythologies, symbolism, and cultural significance of the underworld across different civilizations.</p>
    </div>
</div>

</body>
</html>
