<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="fragments/header"></header>

<div class="reservation-h1-and-title">
    <h1>Reservation</h1>
    <h2 class="exh-title">Underworld Journey</h2>
</div>

<div class="reservation-column">
    <label for="reservation-number">Number of reservations</label>
    <input type="number" id="reservation-number" class="reservation-number" min="1" max="100" value="1">

    <label for="reservation-date">Date</label>
    <input type="date" id="reservation-date" class="reservation-date" >

    <form th:action="@{/exhibition/{id}/reservation/check-availability(id=${exhibition.getId()})}" method="post">
        <button type="submit" class="check-availability">CHECK AVAILABILITY</button>
    </form>

    <label for="reservation-audio-guide">Audio guide</label>
    <select name="audio-guide" id="reservation-audio-guide" class="reservation-audio-guide">
        <option>No</option>
        <option>English</option>
        <option>Polish</option>
        <option>German</option>
        <option>French</option>
    </select>
</div>

<a id="button-next" class="button-next">NEXT</a>

</body>
</html>