<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
    <h1>Reservation</h1>
    <h2 class="exh-title" th:text="${exhibition.getName()}"></h2>
</div>

<form th:action="@{/exhibition/{id}/reservation/check-availability(id=${exhibition.getId()})}" method="post">
    <div class="reservation-column">
        <label for="reservation-count">Number of reservations</label>
        <input type="number" id="reservation-count" name="reservation-count" class="reservation-count" min="1" max="100" th:value="${reservationCount}">

        <label for="reservation-date">Date</label>
        <input type="date" id="reservation-date" name="reservation-date" class="reservation-date" th:value="${reservationDate}">

        <button type="submit" class="check-availability">CHECK AVAILABILITY</button>
        <label class="reservation-available" th:text="${available}"></label>

        <label for="reservation-audio-guide">Audio guide</label>
        <select name="audio-guide" id="reservation-audio-guide" class="reservation-audio-guide">
            <option>No</option>
            <option>English</option>
            <option>Polish</option>
            <option>German</option>
            <option>French</option>
        </select>
    </div>
    <a href="/reservation/account-options">
        <button type="button" class="button-next" th:disabled="${nextButtonDisabled}">NEXT</button>
    </a>
</form>

</body>
</html>