<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation login</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
  <h1>Reservation</h1>
  <h2 class="exh-title" th:text="${exhibitionName}"></h2>

  <div class="login-column">

    <h2>Login</h2>
    <form th:action="@{/login/auth}" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" class="email" placeholder="E-mail" th:value="${email}">

      <label for="password"></label>
      <input type="password" id="password" name="password" class="password" placeholder="Password">
      <label class="label-error" th:text="${badPass}"></label><br>

      <button type="submit" id="reservation-login-button" class="reservation-login-button">LOG IN</button>
    </form>
    </div>
</div>

</body>
</html>