<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation account</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="fragments/header"></header>

<div class="reservation-h1-and-title">
  <h1>Reservation</h1>
  <h2 class="exh-title">Underworld Journey</h2>

  <div class="reservation-login-column">
    <label for="reservation-login-button">Do you have an account?</label>
    <button id="reservation-login-button" class="reservation-login-button">LOG IN</button>

    <label for="reservation-sign-up-button">No?</label>
    <button id="reservation-sign-up-button" class="reservation-sign-up-button">SIGN UP</button>

    <label for="reservation-no-account-button">Or</label>
    <button id="reservation-no-account-button" class="reservation-no-account-button">CONTINUE WITHOUT ACCOUNT</button>
  </div>
</div>

</body>
</html>