<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
    <h1>Create an account</h1>
</div>

<div class="row-signup">
    <div class="column-signup">
        <label for="signup-email"></label>
        <input type="text" id="signup-email" class="signup-email" placeholder="E-mail" th:value="${email}">
        <label class="label-error" th:text="${badMail}"></label>

        <label for="signup-password"></label>
        <input type="password" id="signup-password" class="signup-password" placeholder="Password">
        <label class="label-error" th:text="${badPassword}"></label>

        <label for="repeat-password" class="signup-repeat-password">Repeat password</label>
        <input type="password" id="repeat-password" placeholder="Password">
        <label class="label-error" th:text="${badSecondPassowrd}"></label>
    </div>

    <div class="column-signup">
        <label for="name"></label>
        <input type="text" id="name" placeholder="Name">
        <label></label>

        <label for="surname"></label>
        <input type="text" id="surname" placeholder="Surname">
        <label></label>

        <label for="birthdate" class="signup-birthdate">Birthdate</label>
        <input type="date" id="birthdate">
        <label></label>

    </div>
</div>

<button id="sign-up-button" class="sign-up-button">SIGN UP</button>

</body>
</html>