<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation account</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
  <h1>Reservation</h1>
  <h2 class="exh-title" th:text="${exhibitionName}"></h2>

  <div class="reservation-account-choice-column">
    <label for="reservation-go-to-login-button">Do you have an account?</label>
    <a href="/login" id="reservation-go-to-login-button" class="reservation-go-to-login-button">LOG IN</a>

    <label for="reservation-sign-up-button">No?</label>
    <a href="/register" id="reservation-sign-up-button" class="reservation-sign-up-button">SIGN UP</a>

    <label for="reservation-no-account-button">Or</label>
    <a id="reservation-no-account-button" class="reservation-no-account-button">CONTINUE WITHOUT ACCOUNT</a>
  </div>
</div>

</body>
</html>