<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation login</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="fragments/header"></header>

<div class="reservation-h1-and-title">
  <h1>Reservation</h1>
  <h2 class="exh-title">Underworld Journey</h2>

  <div class="reservation-account-choice-column">
    <h2>Login</h2>
    <label for="email"></label>
    <input type="text" id="email" class="email" placeholder="E-mail">

    <label for="password"></label>
    <input type="password" id="password" class="password" placeholder="Password">

    <button id="reservation-login-button" class="reservation-login-button">LOG IN</button>

    </div>
</div>

</body>
</html>