<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>No account reservation</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
  <h1>Reservation</h1>
  <h2 class="exh-title" th:text="${exhibitionName}"></h2>
  <p>Reservations: <span th:text="${reservationCount}"></span></p>
  <p>Date: <span th:text="${reservationDate}"></span></p>
</div>

<form>
  <div class="column-no-account">
    <h2>Almost there!</h2>

    <label for="no-account-name"></label>
    <input type="text" id="no-account-name" class="name" placeholder="Name">

    <label for="no-account-surname"></label>
    <input type="text" id="no-account-surname" placeholder="Surname">

    <label for="no-account-email"></label>
    <input type="text" id="no-account-email" class="signup-email" placeholder="E-mail">
  </div>

  <button type="submit" id="make-reservation-button" class="make-reservation-button">MAKE A RESERVATION</button>
</form>

</body>
</html>