<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation error</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="reservation-h1-and-title">
    <h1>Reservation</h1>
    <h2 class="exh-title" th:text="${exhibition.getName()}"></h2>

    <p id="reservattion-error" class="reservation-error">Reservation <span th:text="${reservationCount}"></span> not available for this exhibition for <span th:text="${reservationDate}"></span></p>

    <a th:href="@{/exhibition/{id}/reservation(id=${exhibition.getId()})}" class="button">BACK</a>
</div>

</body>
</html>